.SecondContainer{
    background-color: rgb(20, 20, 20);
}

.Title{
    color: rgb(100, 175, 164);
    font-size: 40px;
    letter-spacing: 2px;
    font-style: italic;
    text-decoration:underline;
}
.Links{
    color: aliceblue;
    background-color: rgb(39, 37, 35);
    display: inline-block;
}
.Links a{
    color: rgb(160, 224, 224);
    display: inline;
    margin-left:10px ;
    text-decoration: none;
}
.LeftContainer{
    width: 240%;
}
.Projects{
    display: flex;
    margin-top: 50px;
}
.ProjectTitle{
    color: white;
    font-size: 30px;
}
.ProjectInfo{
    text-align: left;
    padding: 10px;
}
.ProjectInfo span{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.8;
    
}
.ProjectImage{
    width: 240%;
    height: 500px;

}
.ProjectImage img{
  width: 100%;
  height: 100%;
}
.ResponsiveImage{
    display: none;
}
.LastContainer{
   background-color: rgb(27, 25, 34) 
}
.LastContainer h1{
    color: rgb(158, 168, 177);
}
.LastContainer span{
    color: white;
    font-size: 20px;
    font-style: italic;
}
@media(max-width:1200px){
  .ProjectImage{
    width: 300%;
  }
  
}
@media(max-width:970px){
    .ProjectImage{
        height:400px;
    }
    .ProjectInfo{
        width: 400px;
        text-align: center;
    }
    
}
@media(max-width:860px){

    .ProjectImage{
        height:300px;
        padding-top: 30px;
    }
}
@media(max-width:755px){
    
    .LeftContainer{
        width: auto;
    }
    .Projects{
        display: inline-block;
        margin-top: 0px;
    }
    .BigImage{
        display: none;
    }
    .ProjectImage{
        margin: 0 auto;
        width: 300px;
        height: auto;
    }
    .ResponsiveImage{
        display: inline-block;
       
      }
}
@media(max-width:501px){
    .ProjectImage{
        width: 280px;
        height: auto;
    } 
}
@media(max-width:550px){
    .SecondContainer{
        width: fit-content;
    }
    .ProjectInfo{
        display: flex;
    }
    .ProjectInfo span{
        font-size: 17px;
    }
}