.SecondContainer{
    background-color: rgb(187, 214, 214);
}
.Title{
    color: rgb(0, 0, 0);
    font-size: 40px;
    letter-spacing: 2px;
    font-style: italic;
    text-decoration:underline;
}
.Links{
    color: rgb(0, 0, 0);
    background-color: rgb(185, 223, 235);
    display: inline-block;
}
.Links a{
    color: rgb(1, 14, 206);
    display: inline;
    margin-left:10px ;
    text-decoration: none;
}
.LeftContainer{
    width: 240%;
}
.Projects{
    display: flex;
    margin-top: 50px;
}
.ProjectTitle{
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.ProjectInfo{
    text-align: left;
    padding: 10px;
}
.ProjectInfo span{
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1.8;
    
}
.ProjectImage{
    width: 240%;
    height: 500px;

}
.ProjectImage img{
  width: 100%;
  height: 100%;
}
.ResponsiveImage{
    display: none;
}

.LastContainer h1{
    color: rgb(0, 0, 0);
}
.LastContainer span{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: italic;
}
@media(max-width:1200px){
  .ProjectImage{
    width: 300%;
  }
  
}
@media(max-width:970px){
    .ProjectImage{
        height:400px;
        padding-top: 100px;
    }
    .ProjectInfo{
        width: 400px;
        text-align: center;
    }
    
}
@media(max-width:860px){

    .ProjectImage{
        height:300px;
        padding-top: 30px;
    }
}
@media(max-width:755px){
    .LeftContainer{
        width: auto;
    }
    .Projects{
        display: inline-block;
        margin-top: 0px;
    }
    .BigImage{
        display: none;
    }
    .ProjectImage{
        margin: 0 auto;
        width: 300px;
        height: auto;
    }
    .ResponsiveImage{
        display: inline-block;
       
      }
}
@media(max-width:501px){
    .ProjectImage{
        width: 280px;
        height: auto;
    } 
}
@media(max-width:500px){
    .SecondContainer{
        width: fit-content;
    }
    .ProjectInfo span{
        font-size: 17px;
    }
}