.Title{
   color: aliceblue;
   font-style: italic;
   font-size: 40px;
   letter-spacing: 2px;
}
.InfoContainer{
   color: aliceblue;
   display: flex;
   justify-content: space-around;
   
}
.info{
   display: inline-block;
   color: rgb(216, 211, 211);
   font-size: 30px;
   width: 50%;
   text-align: left;
}
.image{
  width: 300px;
  border-radius:50px ;
}
.henrylogo{
   width: 30px;
   height: 35px;
   position:relative;
   width: fit-content;

 }
/* .SkillsSection{

} */
.HardSkills{
 display: flex;
 flex-wrap: wrap;
}
.HardSkills h1{
   font-size: 27px;
   color: aliceblue;
   margin: 0;
}
.HardSkills h5{
   font-size: 15px;
   color: rgb(229, 229, 229);
}
.HardSkills img{
   margin-left:8px ;
   margin-right:8px ;
}

.SoftSkills{
   text-align: left;
}
.SoftSkills  h1{
  font-size: 27px;
  color: aliceblue;
}
.SoftSkills p{
color: rgb(229, 229, 229);
width: 70%;
font-size: 20px;
}
.SoftSkills p span{
   color: rgb(168, 255, 255);
   border-bottom: solid 2px ;
}
@media(max-width:757px){
   .InfoContainer{
      display:list-item;
   }
   .info{
      font-size: 30px;
      display: inline;
   }
   .image{
      width:250px ;
   }
}
@media(max-width:500px){
   .info{
      font-size: 25px ;
      
   }
   .image{
      width: 180px;
   }
}