.Title{
   color: aliceblue;
   font-style: italic;
   font-size: 40px;
   letter-spacing: 2px;
}
.InfoContainer{
   color: aliceblue;
   display: flex;
   justify-content: space-around;
   
}
.info{
   display: inline-block;
   color: rgb(145, 142, 142);
   font-size: 30px;
   width: 50%;
   text-align: left;
}
.image{
  width: 300px;
  border-radius:50px ;
}

@media(max-width:757px){
   .InfoContainer{
      display:list-item;
   }
   .info{
      font-size: 30px;
      display: inline;
   }
   .image{
      width:250px ;
   }
}
@media(max-width:500px){
   .info{
      font-size: 25px ;
      
   }
   .image{
      width: 180px;
   }
}