.Title{
    color: rgb(73, 135, 163);
    font-style: italic;
    font-size: 40px;
    letter-spacing: 2px;
 }
 .InfoContainer{
    background-color: rgb(235, 247, 248);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
 }

 .info{
    display: inline-block;
    color: rgb(0, 0, 0);
   font-size: 30px;
   width: 50%;
   text-align: left;
 }
 .image{
   width: 300px;
   border-radius:50px ;
 }
 .SkillsSection{
   background-color: rgb(235, 247, 248);
}
.HardSkills{
 display: flex;
 flex-wrap: wrap;
}
.HardSkills h1{
   font-size: 27px;
   color: rgb(1, 1, 1);
   margin: 0;
}
.HardSkills h5{
   font-size: 15px;
   color: rgb(0, 0, 0);
}
.HardSkills img{
   margin-left:8px ;
   margin-right:8px ;
}

.SoftSkills{

   text-align: left;
}
.SoftSkills  h1{
  font-size: 27px;
  color: rgb(0, 0, 0);
}
.SoftSkills p{
color: rgb(0, 0, 0);
width: 70%;
font-size: 20px;
}
.SoftSkills p span{
   color: rgb(38, 45, 46);
   border-bottom: solid 2px ;
}

 @media(max-width:757px){
    .InfoContainer{
        display:list-item;
     }
    .info{
       font-size: 30px;
       display: inline;
    }
    .image{
       width:250px ;
    }
 }
 @media(max-width:500px){
    .info{
       font-size: 25px ;
    }
    .image{
       width: 180px;
    }
 }