.FirstContainer{
    border: 2px solid white;
    display: flex;
}
.FormContainer{
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Form{
    background-color: rgb(41, 49, 56);
    color: white;
    width: 60%;
    padding: 60px;
}
.Form label{
    display: block;
    width: fit-content;
}
.Form input{
    float: left;
    padding: 7px;
    margin-top:30px;
    width: 110%;
}
.Form textarea{
    float: left;
     resize: vertical;
     max-height: 180px;
     max-width:100%;
     min-height: 50px;
    margin-top:30px;
    width: auto;
}
.Form button{
     display: inline-block;
    background-color: aqua;
    padding: 5px;
    margin-top: 30px;
}
.ChildContainer{
    width: 60%;
    border: 2px solid rgb(95, 117, 42);
}
@media(max-width:860px){
    .FirstContainer{
        display: block;
    }
    .FormContainer{
        display: flex;
        margin: 0 auto;
        width: fit-content;
    }
    .Form{
        padding: 40px;
    }
    .Form input{
        padding: 5px;
        margin-top:20px;
        width: 100%;
    }
    .Form textarea{
        float: left;
         resize: vertical;
         max-height: 180px;
         max-width:100%;
         min-height: 50px;
        margin-top:20px;
        width: auto;
    }
    .ChildContainer{
      display: flex;
      width: auto;
    }
}