.Title{
    color: #d5e9ee;
    font-size: 37px;
    text-decoration: underline;
}
.buttondeploy{
    border: none;
    padding: 7px;
    margin: 4px;
    background-color: rgb(164, 175, 175);
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.buttondeploy a{ 
   text-decoration: none;
}
.buttondeploy a:visited{ 
    color: rgb(0, 0, 0);
 }
 .buttondeploy:hover{
    background-color: rgb(94, 182, 185)
  }
.SecondContainer{
    display: flex;

}
.DetailsContainer{
    width: 40%;
}
.DetailsContainer h2{
    color: #d5e9ee;
}
.DetailsContainer p{
    color: aliceblue;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: left;    
}
.DetailsContainer button{
  border: none;
  padding: 7px;
  margin: 4px;
  background-color: rgb(164, 175, 175);
  cursor: pointer;
}
.DetailsContainer button:hover{
  background-color: rgb(94, 182, 185)
}
.CarruselContainer{
    width: 60%;

}
.TecSection{
    display: flex;
    height: auto;
    border-top: 1px solid grey;
}
.TitleSecTec{
  color: #f0f8ff;
  width: 40%;
}
.TitleSecTec h1{
 text-decoration:underline;
}
.Tecnologies{
    display: flex;
    width: 50%;
    color: aquamarine;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:950px){
    .DetailsContainer span{
        font-size: 15px;
    }
    .DetailsContainer{
        width: auto;
    }
    .SecondContainer{
        display: inline-block;
    }
    .CarruselContainer{
        width: auto;
    }
    .Tecnologies img{
        margin-left: 4px;
        margin-right: 4px;
    }
    .Tecnologies{
        display: contents;
    }
}
@media(max-width:640px){
    .TitleSecTec{
        width: 100%;
    }
    .TecSection{
        display: flex;
        flex-wrap: wrap;
        
    }
}