.PrincipalContainer{
    border: 2px solid white;
}
.SecondContainer{
    border: 1px solid orange;
    display: flex;

}
.DetailsContainer{
    border: 1px solid green;
    width: 40%;
}
.DetailsContainer span{
    color: aliceblue;
    font-size: 18px;
    letter-spacing: 1px;
    
}
.CarruselContainer{
    border: 1px solid salmon;
    width: 60%;
    background-color: rgb(75, 100, 122);
}
.Teconologies{
    display: inline-block;
}

@media(max-width:950px){
    .DetailsContainer span{
        font-size: 15px;
    }
    .DetailsContainer{
        width: auto;
    }
    .SecondContainer{
        display: inline-block;
    }
    .CarruselContainer{
        width: auto;
    }
}