.Nav{
    height:fit-content;
    padding-top: 12.5px;
    width:auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom:1px solid rgb(77, 86, 87);;
}
.Menu{
    display: none;
    color: white;
    width: 40px;
    height: 40px;
}
.TitleContainer{
    width:fit-content;
    float: left;
    display: flex;
    justify-content:left;
}
.Title{
    color: rgb(100, 175, 164);
    display: inline;
    margin: 0;
    line-height: 19.5px;
    font-size: 40px;
    font-style:italic;
    font-family:Arial, Helvetica, sans-serif;
}
.ButtonsContainer{
    width: 600px;
    float: right;
    display: flex;
    justify-content:space-evenly;
}
.Buttons{
    
    padding: 5px;
    background-color: transparent;
    border: none;
}
.Buttons a{
      color: rgb(153, 153, 153);
      text-decoration: none;
      font-size: 20px;
}

.Buttons :hover{
    color: rgb(100, 175, 164);
    text-decoration:underline rgb(108, 117, 119);
}
@media(max-width:817px){
    .Title{
        line-height: 19.5px;
        font-size: 29px;
    }
}
@media(max-width:757px){
    .Menu{
        display: inline-block;
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 0; 
    }
    .TitleContainer{
       display: inline-block;
       width: 100%;
    
    }
   .ButtonsContainer{
   position: relative;
   left: -150%;
   transition: all .5s
   }

   .check:checked ~ .ButtonsContainer{
    left: 0;
   }
}
@media(max-width:500px){
   .Buttons a{
    font-size: 17px;
   }
   
}